<div fxLayout="column" fxLayoutAlign="start stretch" class="ag-app-container">

    <div class="permission-text">
      D&WO Engineers, Requirement Reviewers, Superintendents, General Supervisors and Managers can only Add/Remove Rigs.
    </div>
  
    <div fxLayout="row" fxLayoutAlign="space-between center" class="ag-top-toolbar">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-icon-button color="primary" (click)="onAddRig()" matTooltip="Add New Rig">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button color="accent" [disabled]="!canEdit" (click)="onEditRig()" matTooltip="Edit Selected Rig">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" [disabled]="!canDelete" (click)="onDeleteRig()" matTooltip="Delete Selected Rigs">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" [disabled]="!canUpdate" (click)="onUpdateRigs()" matTooltip="Save Changes">
          <mat-icon>save</mat-icon>
        </button>
  
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="status-ribbon">
          <div class="status-item" [class.has-changes]="insertedRigsCount > 0">
            Inserted Rigs: <span class="status-count">{{ insertedRigsCount }}</span>
          </div>
          <div class="status-item" [class.has-changes]="updatedRigsCount > 0">
            Updated Rigs: <span class="status-count">{{ updatedRigsCount }}</span>
          </div>
          <div class="status-item" [class.has-changes]="deletedRigsCount > 0">
            Deleted Rigs: <span class="status-count">{{ deletedRigsCount }}</span>
          </div>
        </div>
      </div>
  
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>search and click enter</mat-label>
          <input matInput [(ngModel)]="searchText" (keyup.enter)="onSearchInput()">
          <button mat-icon-button matSuffix (click)="onSearchInput()" matTooltip="Search">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <div class="row-count">0/0</div> <button mat-icon-button matTooltip="Filter Options">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
  
    <div fxFlex="grow" class="ag-theme-material ag-grid-container">
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        [suppressRowClickSelection]="true"
        [animateRows]="true"
        [getRowId]="getRowId"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged()"
        (cellValueChanged)="onCellValueChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>