.mat-sidenav-container{
    height: 89vh;
}
.mat-sidenav-content{
    padding: 20px;
}
/* .menu-item {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 5px 8px;
    transition: background 0.2s;
  }
  
  .menu-item:hover {
    background: #e0e0e0;
    border-radius: 5px;
  }
  
  mat-icon {
    font-size: 20px;
    vertical-align: middle;
  } */
  
  .header-toolbar {
    background: #1f1f1f;
    color: #fff;
    height: 56px;
    padding: 0 12px;
  }
  
  /* Logo */
  .logo-section {
    .logo {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
    .app-title {
      font-weight: bold;
      font-size: 18px;
      margin-right: 8px;
      color: #fff;
    }
    .app-version {
      font-size: 12px;
      color: #aaa;
    }
  }
  
  
  /* Right Section */
  .right-section {
    display: flex;
    align-items: center;
    gap: 12px;
  
    .search-box {
      width: 200px;
      margin-right: 8px;
  
      input {
        color: #fff;
      }
      mat-icon {
        color: #ccc;
      }
    }
  
    .user-info {
      display: flex;
      flex-direction: column;
      margin: 0 8px;
  
      .username {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }
      .role {
        font-size: 12px;
        color: #bbb;
      }
    }
  
    .logout-btn {
      color: #fff;
    }
  
    button {
      color: #fff;
    }
  }
  