<div class="border p-4 overflow-y-auto">
    <h5 class="text-theme">Well List</h5>
  
    <div style="display: none;">
      <app-correlation-display [graphData]="result"></app-correlation-display>
    </div>
  
    <form [formGroup]="wellForm" (ngSubmit)="submit()">
      <button
        type="button"
        class="btn border-0 d-inline-flex align-items-center w-100 bg-dark mb-3"
        (click)="addWell()"
      >
        <span
          data-icon="material-symbols-light:add"
          class="iconify fs-20px my-n2 me-1 text-theme"
        ></span>
        Add Well
      </button>
  
      <div formArrayName="wells" class="accordion mb-3" id="wellAccordion">
        @for (item of wells.controls; track $index; let idx = $index) {
          <div [formGroupName]="idx" class="accordion-item">
            <h2 class="accordion-header d-flex justify-content-between mb-0">
              <button
                class="accordion-button fs-3"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + idx"
                aria-expanded="true"
                [attr.aria-controls]="'collapse' + idx"
              >
                {{
                  wells.at(idx).get('selectedWellBore')?.value?.name ||
                    'None Selected'
                }}
              </button>
              <button
                type="button"
                class="btn text-danger bg-dark"
                (click)="removeWell(idx)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
                  />
                </svg>
              </button>
            </h2>
  
            <div
              [id]="'collapse' + idx"
              class="accordion-collapse collapse"
              data-bs-parent="#wellAccordion"
            >
              <div class="accordion-body mt-4">
                <!-- WELL -->
                <div class="row mb-3">
                  <label class="col-4 form-label">Well</label>
                  <div class="col-8">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Well</mat-label>
                      <input
                        type="text"
                        matInput
                        [formControl]="selectedWellControl(idx)"
                        [matAutocomplete]="autoWell"
                        (input)="filterOptions($event)"
                      />
                      <mat-autocomplete
                        #autoWell="matAutocomplete"
                        [displayWith]="getDisplayValue"
                      >
                        <mat-option
                          *ngFor="let option of filteredOptions"
                          [value]="option"
                        >
                          {{ option.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
  
                <!-- WELLBORE -->
                <div class="row mb-3">
                  <label class="col-4 form-label">WellBore</label>
                  <div class="col-8">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>WellBore</mat-label>
                      <input
                        type="text"
                        matInput
                        [formControl]="selectedWellBoreControl(idx)"
                        [matAutocomplete]="autoWellBore"
                      />
                      <mat-autocomplete
                        #autoWellBore="matAutocomplete"
                        [displayWith]="getWellBoreDisplayValue"
                      >
                        <mat-option
                          *ngFor="let option of wellBoreOptions[idx]?.wellbores || []"
                          [value]="option"
                        >
                          {{ option.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row">
                  <!-- LEFT COLUMN: buttons -->
                  <div class="col-3 d-flex flex-column gap-2">
                    <button
                      type="button"
                      class="btn w-100 border-0 d-inline-flex align-items-center bg-dark"
                      (click)="addTrackMnemonic(idx)"
                    >
                      <span
                        data-icon="material-symbols-light:add"
                        class="iconify fs-20px my-n2 me-1 text-theme"
                      ></span>
                      Add Track Mnemonic
                    </button>
  
                    <button
                      type="button"
                      class="btn w-100 border-0 d-inline-flex align-items-center bg-dark"
                      (click)="addWidgetMnemonic(idx)"
                    >
                      <span
                        data-icon="material-symbols-light:add"
                        class="iconify fs-20px my-n2 me-1 text-theme"
                      ></span>
                      Add Widget Mnemonic
                    </button>
                  </div>
  
                  <!-- RIGHT COLUMN: rows -->
                  <div class="col-9">
                    <!-- TRACK MNEMONICS -->
                    <div formArrayName="trackMnemonics" class="mb-3">
                      @for (
                        item of getTrackMnemonics(idx).controls;
                        track $index;
                        let mnIdx = $index
                      ) {
                        <div
                          [formGroupName]="mnIdx"
                          class="row mb-2 align-items-center"
                        >
                          <div class="col-4">
                            <select
                              class="form-select"
                              formControlName="selectedWellBoreLog"
                            >
                              <option value="">Select WellBore Log</option>
                              @for (
                                option of wellBoreLogOptions[idx]?.logs || [];
                                track option.uid
                              ) {
                                <option [ngValue]="option">
                                  {{ option.name }}
                                </option>
                              }
                            </select>
                          </div>
                          <div class="col-5">
                            <select
                              class="form-select"
                              formControlName="mnemonic"
                            >
                              <option value="">Select Track Mnemonic</option>
                              @for (
                                option of
                                  (trackMnemonicOptions[idx]
                                    ? trackMnemonicOptions[idx][mnIdx]
                                    : []) || [];
                                track option['@uid']
                              ) {
                                <option [ngValue]="option">
                                  {{ option.mnemonic }}
                                </option>
                              }
                            </select>
                          </div>
                          <div class="col-3">
                            <button
                              type="button"
                              class="btn btn-danger w-100"
                              (click)="removeTrackMnemonic(idx, mnIdx)"
                            >
                              Remove
                            </button>
                          </div>
                        </div>
                      }
                    </div>
  
                    <!-- WIDGET MNEMONICS -->
                    <div formArrayName="widgetMnemonics">
                      @for (
                        item of getWidgetMnemonics(idx).controls;
                        track $index;
                        let mnIdx = $index
                      ) {
                        <div
                          [formGroupName]="mnIdx"
                          class="row mb-2 align-items-center"
                        >
                          <div class="col-4">
                            <select
                              class="form-select"
                              formControlName="selectedWellBoreLog"
                            >
                              <option value="">Select WellBore Log</option>
                              @for (
                                option of wellBoreLogOptions[idx]?.logs || [];
                                track option.uid
                              ) {
                                <option [ngValue]="option">
                                  {{ option.name }}
                                </option>
                              }
                            </select>
                          </div>
                          <div class="col-5">
                            <select
                              class="form-select"
                              formControlName="mnemonic"
                            >
                              <option value="">Select Widget Mnemonic</option>
                              @for (
                                option of
                                  (widgetMnemonicOptions[idx]
                                    ? widgetMnemonicOptions[idx][mnIdx]
                                    : []) || [];
                                track option['@uid']
                              ) {
                                <option [ngValue]="option">
                                  {{ option.mnemonic }}
                                </option>
                              }
                            </select>
                          </div>
                          <div class="col-3">
                            <button
                              type="button"
                              class="btn btn-danger w-100"
                              (click)="removeWidgetMnemonic(idx, mnIdx)"
                            >
                              Remove
                            </button>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
  
      <div class="mt-3">
        <button
          type="submit"
          class="btn btn-dark"
          [disabled]="isSubmitDisabled"
        >
          Save
        </button>
        &nbsp;
        <button
          type="button"
          class="btn btn-dark"
          (click)="closeDialog()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
  