<div class="container-fluid py-2">
    <div class="row align-items-start">
      <!-- Left: Multiwell Canvas -->
      <div class="col-lg-8 col-md-7 col-sm-12 mb-3">
        <canvas #correlationDisplay class="w-100 border border-secondary" height="600"></canvas>
      </div>
  
      <!-- Right: Dynamic Mnemonic Widgets -->
      <div class="col-lg-4 col-md-5 col-sm-12">
        <app-rcc-multi-well-widgets
          *ngFor="let well of wellWidgets"
          [wellName]="well.wellName"
          [widgets]="well.widgets"
        ></app-rcc-multi-well-widgets>
      </div>
    </div>
  </div>













  <!--   <div class="container-fluid py-2">
  <div class="row g-3 justify-content-center">
   
    <div
    class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2"
    *ngFor="let well of wellWidgets; let i = index"
  >
    <div class="well-card border rounded shadow-sm bg-dark text-light p-2 h-100">
      <div class="row g-1 align-items-start">
       
        <div class="col-6">
          <canvas
            #correlationDisplay
            class="w-100 border border-secondary rounded"
            height="250"
          ></canvas>
        </div>

    
        <div class="col-6">
          <app-rcc-multi-well-widgets
            [wellName]="well.wellName"
            [widgets]="well.widgets"
          ></app-rcc-multi-well-widgets>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
-->
  