

   <button mat-raised-button color="primary"
        [matMenuTriggerFor]="dataTooltip"
        #trigger="matMenuTrigger"
        (mouseenter)="menuEnter(trigger)"
        (mouseleave)="menuLeave(trigger)">
  Hover for Data
</button>

<button mat-raised-button color="primary"
[matMenuTriggerFor]="dataTooltip"
#trigger="matMenuTrigger"
(mouseenter)="menuEnter(trigger)"
(mouseleave)="menuLeave(trigger)">
Hover for Data
</button>

<mat-menu #dataTooltip="matMenu" [hasBackdrop]="false" class="custom-tooltip-menu">
  <div (mouseenter)="menuEnter(trigger)" (mouseleave)="menuLeave(trigger)">
    <table class="tooltip-table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jsonData">
          <td>{{ item.key }}</td>
          <td>{{ item.val }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-menu>


<button type="button" 
        class="btn btn-primary"
        [ngbPopover]="dataTemplate" 
        triggers="mouseenter:mouseleave" 
        popoverTitle="Well Log Data"
        placement="right">
  Hover for Data
</button>

<ng-template #dataTemplate>
  <table class="popover-table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of jsonData">
        <td>{{ item.key }}</td>
        <td>{{ item.val }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

