@use '@angular/material' as mat;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$m2-indigo-palette,
    secondary: mat.$m2-pink-palette,
  ),
));

:root {
  @include mat.all-component-themes($light-theme);
}
