<!-- <mat-card>
  <h3>Select Organization(s)</h3>

  <mat-form-field class="full-width">
    <mat-label>Search Organization</mat-label>
    <input matInput [formControl]="searchInputControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOrgSelected($event.option.value)">
      <mat-option *ngFor="let org of filteredOrganizations$ | async" [value]="org.code">
        {{ org.name }} ({{ org.code }})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-chip-listbox>
    <mat-chip *ngFor="let code of orgControl.value" (removed)="removeOrg(code)">
      {{ code }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-listbox>
</mat-card>

<div fxLayout="row" fxLayoutGap="16px" style="margin-top: 16px;">
  <mat-card fxFlex="50%">
    <h3>Main Employees</h3>
    <ag-grid-angular
      style="width: 100%; height: 400px;"
      class="ag-theme-alpine main-grid"
      [columnDefs]="mainColumnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="mainEmployeeData()"
      rowSelection="multiple"
      (gridReady)="onMainGridReady($event)"
    ></ag-grid-angular>
  </mat-card>

  <mat-card fxFlex="50%">
    <h3>Selected Employees</h3>
    <ag-grid-angular
      style="width: 100%; height: 400px;"
      class="ag-theme-alpine selected-grid"
      [columnDefs]="selectedColumnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="selectedEmployeeData()"
      rowSelection="multiple"
      (gridReady)="onSelectedGridReady($event)"
    ></ag-grid-angular>

    <div fxLayout="row" fxLayoutAlign="end center" style="margin-top: 10px;">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isProcessEnabled()"
        (click)="onProcessSelected()"
      >
        Process Selected
      </button>
    </div>
  </mat-card>
</div> -->
<mat-card>
  <h3>Select Organization(s)</h3>

  <mat-form-field class="full-width">
    <mat-label>Search Organization</mat-label>
    <input matInput [formControl]="searchInputControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOrgSelected($event.option.value)">
      <mat-option *ngFor="let org of filteredOrganizations$ | async" [value]="org.code">
        {{ org.name }} ({{ org.code }})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-chip-listbox>
    <mat-chip *ngFor="let code of orgControl.value" (removed)="removeOrg(code)">
      {{ code }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-listbox>
</mat-card>

<div fxLayout="row" fxLayoutGap="16px" style="margin-top: 16px;">
  <mat-card fxFlex="50%">
    <h3 class="grid-header main-header">Main Employees</h3>
    <ag-grid-angular
      style="width: 100%; height: 400px;"
      class="ag-theme-alpine main-grid"
      [columnDefs]="mainColumnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="mainEmployeeData()"
      [getRowId]="getRowId"
      rowSelection="multiple"
      (gridReady)="onMainGridReady($event)"
    ></ag-grid-angular>
  </mat-card>

  <mat-card fxFlex="50%">
    <h3 class="grid-header selected-header">Selected Employees (Total: {{ selectedEmployeeData().length }})</h3>
    <ag-grid-angular
      style="width: 100%; height: 400px;"
      class="ag-theme-alpine selected-grid"
      [columnDefs]="selectedColumnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="selectedEmployeeData()"
      [getRowId]="getRowId"
      rowSelection="multiple"
      (gridReady)="onSelectedGridReady($event)"
    ></ag-grid-angular>

    <div fxLayout="row" fxLayoutAlign="end center" style="margin-top: 10px;">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isProcessEnabled()"
        (click)="onProcessSelected()"
      >
        Process Selected
      </button>
    </div>
  </mat-card>
</div>
